.panel {
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.form-container {
  min-height: 500px;
}

.button-row {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.field {
  width: 600px;
}